{{ include('header.twig') }}
<!-- page content -->
            <div class="container w-auto ml-8 mr-8 md:mx-auto border px-2 py-2 rounded-md">
                <div class="w-auto">
                    <h1 class="text-2xl mb-2">Kontakt</h1>
                    <p class="mb-1">Diese ist Deine Kontaktseite, {{ vorname }} {{ name }}.</p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="container mx-1 mt-6 w-80">
                    <div x-data="{open1:true, open2:false, open3:false}">
                        <button @click="open1 = true, open2 = false, open3 = false" :class="open1 ? 'bg-slate-200 text-slate-800' : 'bg-slate-800 text-slate-200'"
                            class="px-4 py-1 rounded-tl-xl rounded-tr-xl">
                            Tab 1
                        </button>
                        <button @click="open2 = true, open1 = false, open3 = false" :class=" open2 ? 'bg-slate-200 text-slate-800' : 'bg-slate-800 text-slate-200'"
                            class="px-4 py-1 rounded-tl-xl rounded-tr-xl">
                            Tab 2
                        </button>
                        <button @click="open3 = true, open1 = false, open2 = false" :class="open3 ? 'bg-slate-200 text-slate-800' : 'bg-slate-800 text-slate-200'"
                            class="px-4 py-1 rounded-tl-xl rounded-tr-xl">
                            Tab 3
                        </button>
                        <p x-show="open1" x-cloak class="max-w-sm bg-[#e2e8f0] p-2 rounded-tr-lg rounded-br-lg rounded-bl-lg">
                            1. One Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique officia alias reiciendis?
                        </p>
                        <p x-show="open2" x-cloak class="max-w-sm bg-slate-200 p-2 rounded-tr-lg rounded-br-lg rounded-bl-lg">
                            2. Two Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique officia alias reiciendis?
                        </p>
                        <p x-show="open3" x-cloak class="max-w-sm bg-slate-200 p-2 rounded-tr-lg rounded-br-lg rounded-bl-lg">
                            3. Three Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique officia alias
                            reiciendis?
                        </p>
                    </div>
                </div>
            </div>
<!-- /page content -->
{{ include ('footer.twig') }}
