{{ include('header.twig') }}
<!-- page content -->
            <div class="container w-auto ml-8 mr-8 md:mx-auto border px-2 py-2 rounded-md">
                <div class="w-auto">
                    <h1 class="text-2xl mb-2">Willkommen {{ vorname }} {{ name }}!</h1>
                    <p><p>Dies Seite ist dazu da, mit Twig-Templates, dem AltoRouter, AlpineJS und dem CSS-Framework Tailwind zu spielen. Zudem wollte ich Tailwind CSS unter dem Aspekt einer responsiven Webpage testen. Das hat auch gut geklappt. Bitte Browser zusammenschieben ;-)</p>
                </div>
            </div>
<!-- /page content -->
{{ include ('footer.twig') }}
