{{ include('header.twig') }}
<!-- page content -->
            <div class="container w-auto ml-8 mr-8 md:mx-auto border px-2 py-2 rounded-md">
                <div class="w-auto">
                    <h1 class="text-2xl mb-2">Diese ist eine Unterseite</h1>
                    <p class="mb-1">Hallo {{ vorname }} {{ name }}!</p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
    <div x-data :class="$store.darkMode.on && 'bg-blue-800 text-slate-200'"
        class="container max-w-sm mt-6 bg-gray-100 p-4 rounded-lg">
        <div class="flex flex-row items-center align-middle gap-4">
            <button 
            @click="$store.darkMode.toggle()"
            :class="$store.darkMode.on && 'bg-gray-700'"
            class="inline-flex items-center justify-center p-2 bg-indigo-500 rounded-md shadow-lg">
            <template x-if="! $store.darkMode.on">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13 10V3L4 14h7v7l9-11h-7z" />
                </svg>
            </template>
            <template x-if="$store.darkMode.on">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path
                        d="M11 3a1 1 0 10-2 0v1a1 1 0 102 0V3zM15.657 5.757a1 1 0 00-1.414-1.414l-.707.707a1 1 0 001.414 1.414l.707-.707zM18 10a1 1 0 01-1 1h-1a1 1 0 110-2h1a1 1 0 011 1zM5.05 6.464A1 1 0 106.464 5.05l-.707-.707a1 1 0 00-1.414 1.414l.707.707zM5 10a1 1 0 01-1 1H3a1 1 0 110-2h1a1 1 0 011 1zM8 16v-1h4v1a2 2 0 11-4 0zM12 14c.015-.34.208-.646.477-.859a4 4 0 10-4.954 0c.27.213.462.519.476.859h4.002z" />
                </svg>
            </template>
            </button>
            <div>Press Button on the left</div>
        </div>
        <h3 class="mt-5 text-base font-medium tracking-tight">Writes Upside-Down</h3>
        <p class="mt-2 text-sm">
            The Zero Gravity Pen can be used to write in any orientation, including upside-down. It even works in outer
            space.
        </p>
    </div>
</div>

<!-- /page content -->
{{ include ('footer.twig') }}
