<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Twig Page - {{ pagetitel }}</title>
        <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
        <!--link rel="stylesheet" href="./assets/css/style.css"-->
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- page content -->
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <h1>Willkommen auf der Twig-Seite!</h1>
                    <form action="./answer" method="post">
                        <label for="fname">Vorname:</label><br>
                        <input type="text" id="vorname" name="vorname" placeholder="Max"><br>
                        <label for="lname">Nachname:</label><br>
                        <input type="text" id="name" name="name" placeholder="Mustermann"><br><br>
                        <input type="submit" value="Submit">    
                    </form> 
                </div>
            </div>
            <!-- /page content -->
{{ include ('footer.twig') }}
